body {
	padding: 20px;
	margin: 0;
}
h1 {
	margin: -9px 0 0 -2px;
	padding: 0;
}

p.last {
	margin-bottom: 48px;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
	/*font-size: 120%;*/
	color: #323232;
}

#infobox {
	font-weight: bold;
	
	-webkit-border-radius: 3px;

	color: white;
	text-shadow: rgba(0,0,0,0.3) 0 1px 0;
	font-size: 90%;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
}
#infobox.red {
	border: 1px solid #b72225;
	
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, #bf3838),
    color-stop(1.0, #ff6363)
);
}
#infobox.green {
	border: 1px solid #25A610;
	
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, #3FC027),
    color-stop(1.0, #57FB49)
);
}
#infobox.blue {
	border: 1px solid #005AAA;
	
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, #1F68B4),
    color-stop(1.0, #449FFF)
);
}

#infobox a, #infobox a:hover {
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
}
#infobox a:hover {
	-webkit-border-radius: 2px;
	background-color: rgba(0,0,0,0.3);
}
#infobox a:active {
	-webkit-border-radius: 2px;
	background-color: rgba(0,0,0,0.6);
}

#board td {	
   color: white;
   text-align: center;
	
	display: block;
	min-width: 55px;
	height: 60px;
	
	font-size: 30px;
	
	float: right;
	
	font-family: "Helvetica Neue";
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}
.a, .b, .d, .e, .g, .h {
	border-right: 1px solid #bfbfbf;
}
.a, .b, .c, .d, .e, .f {
	border-bottom: 1px solid #bfbfbf;
}

#boardcontainer {
	width: 45%;
	float: left;
	
}
#board {
	margin: 0 auto;
	
	padding: 20px;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	
	-webkit-border-radius: 10px;
	background-color: #d7d7d7;
	padding: 10px;
	width: 172px;
}
#board table {
	border-collapse: collapse;
}

#score table
{	
	border-collapse: collapse;
	
	border: 1px solid #d8d8d8;
	background-color: #f2f2f2;
	
	margin-bottom: 12px;
}
#score th
{
	padding: 6px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d8d8d8;

	padding: 6px 12px;
	border-right: 1px solid #d8d8d8;
}
#score td
{
	text-align: center;

	background-color: #f9f9f9;
	border-right: 1px solid #d8d8d8;
	
	padding: 0 12px 2px;
}
#score tr.first td
{
	padding-top: 2px;
}

#score td code
{
	font-size: 12px;
}

#score {
	float: right;
	width: 50%;
	padding: 0 0 0 0;
}
#score h2 {
	margin: 0 0 12px 0;
	padding: 0;
}