body
{
	padding: 8px 20px 20px 20px;
	margin: 0;
	font: 14px "Arial", "Lucida Grande", Arial, Helvetica, Geneva, sans-serif;
	color: #323232;
	line-height: 1.4em;
}

code
{
	font-family: "Menlo", "Monaco", mono;
}

/* @group Tasks */

.category
{
	margin-top: -4px;
	margin-bottom: 0;
	padding-bottom: 8px;
	text-indent: 20px;
	font-style: italic;
	font-size: 13px;
}

.methods.tasks h2
{
	font-size: 17px;
	margin-top: 20px;
	padding-bottom: 8px;
}
.methods.tasks ul
{
	margin: 0;
	padding-left: 20px;
}
.methods.tasks ul li
{
	font-size: 12px;
	list-style-type: none;
	
	
}

/* @end */



/* @group My Group */

#description
{
	padding: 0;
	margin: 0;
	
	margin-top: -15px;
	margin-bottom: -15px;
}
#description p
{
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

#description code
{
	font-size: 11px;
}

#description a
{
	text-decoration: none;
	color: #0049b8;
}
#description a:visited
{
	text-decoration: none;
}
#description a:hover
{
	text-decoration: underline;
}
#description a:active
{
	text-decoration: none;

	color: white;
	

	background-color: #7d9dca;
	-webkit-border-radius: 4px;
	
	padding: 2px 4px;
	margin: 2px -4px;
	text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}

/* @end */

/* @group Methods */

.methods
{
	padding: 0;
	margin: 0;
}
.methods h2
{
	padding: 0;
	margin: 0;
	
	font-family: "Menlo";
	letter-spacing: -1px;
	
	font-size: 21px;
	text-transform: none;
	
	padding-top: 6px;
	margin-top: 24px;
	padding-bottom: 10px;
	
	position: relative;
	top: -1px;
	
	text-align: left;
	border-top-style: solid;
	border-top-width: 1px;
}
.methods.single h2
{
	/*margin-top: 0;*/
	margin-top: 14px;
	padding-top: 0;
		
	border-top-style: none;
}
.methods div.description
{
	margin-top: -12px;
}

.methods .info h3
{
	padding: 0;
	margin: 0;
	font-size: 14px;
}
.methods .info p
{
	margin-top: 0;
	padding-left: 20px;
}

.methods .discussion
{
}
.methods .discussion code
{
	font-size: 12px;
}
.methods .prototype
{
	font-size: 12px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	background-color: #f7f7f7;
	padding: 4px 11px 3px;
	
	color: #3f3f3f;
}
.methods .in-out-vals
{
	padding-left: 20px;
}
.methods .in-out-vals .parameter strong
{
	font-weight: normal;
	font-style: italic;
	font-family: "Menlo", "Monaco", mono;
	display: block;
}

.methods .in-out-vals .returns strong
{
	/* 	font-family: "Menlo", "Monaco", mono; */
	display: block;
}
.methods hr
{
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px none #e5e5e5;
	margin-bottom: 14px;
	border-top: 1px solid #d8d8d8;
}
.methods .seealso ul
{
	list-style-type: none;
	padding-left: 20px;
	margin: 0;
}
.methods .seealso code
{
	font-size: 12px;
}

a.semistealth
{
	text-decoration: underline;
	color: rgb(83, 83, 83);
}
a.semistealth span
{
	color: #323232;
}
a.semistealth:visited
{
	color: inherit;
	text-decoration: underline;
}
a.semistealth:hover
{
	color: white;
	text-decoration: underline;
}
a.semistealth span:hover
{
	background-color: rgba(125, 157, 202, 1.0);
	-webkit-border-radius: 4px;
	text-shadow: rgba(0,0,0,0.3) 0 1px 0;	

	padding: 1px 2px;
	margin: 1px -2px;
	
	color: white;
}
a.semistealth:active
{
	text-decoration: underline;
	color: white;
}
a.semistealth:active span
{
	background-color: #7d9dca;	
}

a.stealth
{
	color: inherit;
	text-decoration: none;
}
a.stealth:visited
{
	color: inherit;
	text-decoration: none;
}
a.stealth:hover
{
	color: inherit;
	text-decoration: underline;
}
a.stealth:active
{
	text-decoration: none;

	color: white;
	

	background-color: #7d9dca;
	-webkit-border-radius: 4px;
	
	padding: 2px 4px;
	margin: 2px -4px;
	text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}

.methods table.info
{
	border-collapse: collapse;
	
	border: 1px solid #d8d8d8;
	background-color: #f2f2f2;
	
	margin-bottom: 12px;
}
th
{
	padding: 6px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #d8d8d8;

	padding: 6px 12px;
	border-right: 1px solid #d8d8d8;
}
td
{
	background-color: #f9f9f9;
	border-right: 1px solid #d8d8d8;
	
	padding: 0 12px 2px;
}
tr.first td
{
	padding-top: 2px;
}

td code
{
	font-size: 12px;
}

/* @end */

/* @group Annotations */

.annotations h3
{
	margin-bottom: 14px;
	font-size: inherit;
	margin-bottom: 11px;
	font-weight: bold;
}
.annotations h3 span
{
	margin-right: 5px;
}

/*
.annotations
{
	border-right-style: none;
	border-left-style: none;
	
	border-top: 1px solid #d8d8d8;	
	margin-top: 14px;
	
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 14px;
}
.annotations.active
{
	background-color: #eaf4f9;
	border-top-color: #d3e4ed;
	border-bottom-color: #d3e4ed;
	
	padding-left: 20px;
	padding-right: 20px;
}
*/

.annotations .annotation
{
	margin-left: 20px;
}
.annotations .annotation h4
{
	padding: 0;
	margin: 0;
	
	font-family: "Menlo";
	letter-spacing: -1px;
		
	text-transform: none;
	
	padding-top: 6px;
	margin-top: 20px;
	padding-bottom: 4px;
	
	text-align: left;
}
.annotations .annotation .submitter
{
	padding-left: 10px;
	font-weight: bold;
	font-style: italic;
	
	font-size: 14px;
}
.annotations .annotation .annotation-description
{
	margin-bottom: -12px;
}

.inlinebutton.small
{
	font-size: 11px;
	background-color: rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	padding: 1px 5px 3px;
}
.inlinebutton
{
	background-color: #7f7f7f;
	border: none;
	-webkit-border-radius: 4px;
	
	color: white;
	position: relative;
	top: -1px;
	
	font-size: 12px;
	text-shadow: rgba(0,0,0,0.35) 0 1px 0;
}
.inlinebutton:hover
{
	background-color: #04a5eb;
}
.inlinebutton:active
{
	background-color: #4bc8ff;
}
.add-annotation-box
{
	background-color: rgba(0,0,0,0.06);
	
	padding: 20px;
}
.add-annotation-box p.annotation-field
{
	margin: 0;
	margin-bottom: 5px;
}
.add-annotation-box .inlinebutton
{
	margin-bottom: 18px;
}

.annotations-inner
{
	display: none;
}
.add-annotation-box
{
	display: none;
}

.add-annotation-box .clearing
{
	clear: both;
	height: 38px;
}
.add-annotation-box .right
{
	margin-top: 0px;
	float: right;
}
.add-annotation-box
{
	font-size: 14px;
	width: 550px;
	margin-bottom: 14px;
	margin-top: -6px;
	padding-bottom: 0px;
}

.add-annotation-box span.key
{
	opacity: 1;
	color: #7f7f7f;
	
	font-weight: bold;
}
.add-annotation-box span.value strong
{
	font-weight: normal;
}

.add-annotation-box input
{
	padding: 3px;
}
.add-annotation-box textarea
{
	padding: 3px;
	margin: -15px 0 0;
	max-width: 540px;
}

.add-annotation-box textarea, .add-annotation-box input
{
	border: 1px solid #b2b2b2;
	
	font-size: 13px;
}

.add-annotation-box textarea
{
	width: 100%;
}

/* @end */